.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.content-container {
    flex: 1 1 auto
}

.content-card {
    height: 100%;
}

.drawer-end {
    height: 100%;
}

.drawer-content {
    height: 100%;
}

@media only screen and (max-width: 600px){
    .layout-container{
        min-height: 100%;
    }
    .content-card{
        
    }
}